.gridContainer{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.chequeHeader{
    /* display: flex;
    width: 100%;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: lightgray;
}

.cell {
    background-color: #f5f5f5; /* cell background color */
    padding: 10px; /* cell padding */
    border: 1px solid #ddd; /* cell border */
  }

.goodsWrapper{
    /* display: flex;
    flex-direction: column;
    border: 1px solid blue; */
    padding: 10px;
    border: 1px solid gray;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.quantity{
    display: flex;
    flex-direction: column;
    height: 35px;
}

.itemWrapper{
    display: flex;
    flex-direction: column;
}
